<div class="panel panel-default comment-panel container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            {{comment.id}} {{comment.commentContent}}
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="btn-group comment-btn-group">
                <button class="btn btn-default" (click)="onApproveClicked()">Approve</button>
                <button class="btn btn-default" (click)="onRejectClicked()">Reject</button>
            </div>
        </div>
    </div>
</div>